
.wrapper
    cursor: pointer
    width: 24px
    height: 24px
    border-radius: 5px
    display: flex
    align-items: center
    justify-content: center
    transition: 0.2s background-color
    min-width: 24px

.enabled
    background-color: #5C14F1

.disabled
    border: 1px solid #DCDDE7