
.foo
    background-color: #ff0000

.widgetTitle
    font-size: 18px
    color: #17171A

.navbar-collapse
    // padding-top: 1rem
    // padding-bottom: 1rem

    .nav-link
        display: inline-block
        font-size: 12px
        text-transform: uppercase
        padding: 2rem 0 !important
        margin-right: 40px 
        border-bottom: 4px solid transparent        
        text-decoration: none

        &.active
            color: #5C14F1 !important
            font-weight: bold
            border-bottom: 4px solid #5C14F1
