
.wrapper
    display: flex
    padding: 1em
    cursor: pointer
    align-items: center
    @media (max-width: 780px) 
        padding: 3px


.currencyName
    font-size: 18px
    color: #17171A
    @media (max-width: 780px) 
        font-size: 12px

.currencyAsset
    font-size: 14px
    color: #A8A9BC
    @media (max-width: 780px) 
        font-size: 10px

.sum
    margin-left: auto
    font-size: 18px
    color: #17171A
    @media (max-width: 780px) 
        font-size: 12px
