.containerLayout
    // display: grid
    // gap: 3.5rem
    // grid-template-areas: "sidebar main"
    // grid-template-columns: 2fr 5fr
    padding-top: 3rem
    padding-bottom: 3rem

.main    
    @media (max-width: 750px) 
        order: 1

.aside
    padding-right: 50px

    @media (max-width: 750px) 
        order: 2
        padding-right: 12px