
.wrapper
    height: 100vh
    display: flex
    flex-direction: column

.body 
    flex: 1
    display: flex

.spacer 
    width: 10vw

.line
    background-color: #5C14F1
    width: 2px
    
.links
    display: flex
    flex-direction: column
    gap: 2em
    margin-top: 2em
    margin-left: -8px

.controlsContainer
    display: flex
    padding: 30px
    // justify-content: space-between    
    & > a
        flex: 1
        cursor: pointer