
.wrapper
    padding: 1em
    cursor: pointer
    @media (max-width: 780px) 
        padding: 1em 0 1em 0

.nextPayment
    // margin-left: auto

.header
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap

    & > div
        display: flex        
        // width: 100%
        // max-width: 50%

        @media (max-width: 780px) 
            width: 100%
            justify-content: space-between


.label
    font-size: 14px
    color: #A8A9BC

.date
    font-size: 14px
    margin-left: .5em

.creditStatus
    font-size: 14px
    margin-left: 1em

.creditStatus__closed
    color: #17171A

.creditStatus__finished
    color: #17171A

.creditStatus__active
    color: #18B8CF

.creditStatus__liquidated
    color: #E63C8A

.body
    display: flex
    align-items: center
    margin-top: 1em

.depositAmount
    font-size: 20px

.bodyRight
    margin-left: auto
    display: flex
    align-items: center

.icon
    margin-left: 1em

.ltvValue
    font-size: 16px
    color: #17171A

.ltvWarning
    color: #E63C8A