.wrapper
    display: flex
    gap: 40px 
    @media (max-width: 780px)
        gap: 15px 

    & > div 
        flex: 1

.block
    flex: 1

.wrapperRadio    
    display: flex
    flex: 1
    cursor: pointer
    align-items: center
    padding: 5px

    @media (max-width: 780px)
        padding: 0px

.currencyInfo
    margin-left: 1em
    @media (max-width: 780px)
        display: none

.currencyName
    font-size: 18px

.currencyAsset
    font-size: 14px
    color: #A8A9BC    

.value
    margin-left: auto
    font-size: 24px
    color: #5C14F1
    font-weight: bold

    @media (max-width: 780px)
        font-size: 18px


.termBlock
    display: flex
    align-items: center